@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* NEW BELOW */
  display: flex;
  flex-direction: column;
  Justify-content: center;
}


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* NEW BELOW */
  Margin: 3px;
  padding: 8px 16px;
}



input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}




/* NEW ALL BELOW */
.content, .input, .buttons {
  display: flex;
  Justify-content: center;
  Align-items: center;
}


ul {
  list-style-type: none;
  display: flex;
  Justify-content: space-between;
}


a {
  Text-decoration: none;
  Color: #A9A9A9;
}

.footer, .header {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #eeeeee;
  Width: 100%;
  Position: absolute;
  Bottom: 0;
}

.header {
  Position: absolute;
  Width: 100%;
  Top: 0;
}


Ul.right-links, ul.left-links {
  padding: 8px 24px;
  Gap: 16px;
}


